@import "tailwindcss"; 

@theme {
  /* Настройки темы, если нужно */
  --font-display: 'Outfit', sans-serif;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #0f172a;
  color: white;
  -webkit-font-smoothing: antialiased;
}